import requests
#codigo para acessar api do Goole:
def api(dominio):
    resposta = requests.get(f'https://crt.sh/?q=%.{dominio}&output=json')
    resultados = resposta.json()
    linhas = []
    for certificado in resultados:
        linhas.append(certificado["name_value"])
    return linhas

#def para fazer uma saber se o site esta rodando apliçao web:
def check_sites(nomes):
     for site in nomes:
        try:
            response = requests.get(site)
            if response.status_code == 200:
               print(site)
        except:
            pass
#codigo para ver oque o usuario que escolher:
while True:
    links = []
    resposta=input('[1] para escolher um arquivo .txt de seu computador:\n''[2] para usar a API do Google:\n''DIGITE: ')

    if resposta=='1':
        caminho_do_arquivo=input('digite o caminho completo do arquivo: ')
        # Abrir o arquivo em modo leitura
        with open(caminho_do_arquivo, "r") as arquivo:
            # Lê todas as linhas do arquivo e adiciona em uma lista ordenada
            names = sorted([links.strip() for links in arquivo])

        break
    if resposta=='2':
        alvo= input('nome do dominio: ')
        print('=-' * 50)
        certificados = api(alvo)
        for certificado in certificados:
            links.append(certificado)
        names = sorted(links)
        print('=-' * 50)
        break
    else:
        print('=-'*50)


nomes=[]
nomes_totais = list((names))
nomes_unicos = list(set(names))

#for para percorrer a lista de links e formata-los de forma que nao tenha nunhum poblema
for name in nomes_unicos:
    name = f'https://'+name
    name=name.replace('#','').replace("*",'').replace('"','')
    nomes.append(name)

#o restante e apenas para deixar mais visual o codigo:
print("=="*50)
print(f'foram dadas {len(nomes_totais)} dominios no total, \n'
      f'e foram encontrados {len(nomes_unicos)} dominios unicos.')
print("=="*50)
print("verificando quais estao rodando paginas...\n"
      "aguarde um momento")
print('-=-'*50)
print(f'OS QUE ESTAO FUNCIONANDO :')
print('-=-'*50)

check_sites(nomes)
print('==========foram todos==============')
print('-=-'*50)
